  {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}" media="screen"/>
    <script>
        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		let device = getCookie('device')

		if (device == null || device == undefined){
			device = "{{ deviceUUID }}";
		}

		document.cookie ='device=' + device + ";domain=;path=/"
    </script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-6">
                    <form method="POST" name="city_form">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <!-- <input class="input" type="text" placeholder="City Name"> -->
                                {{ cityForm.name }}
                            </div>
                            <div class="control">
                                <button type="submit" formaction="{% url 'index' %}" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        
                        {% if message %}
                        <div class="notification {{ messageClass }}">
                            {{ message }}
                        </div>
                        {% endif %}
                    </form>
                </div>
                <div class="column is-offset is-6">
                    <div class="control">
                        <a href="{% url 'resetData' %}" class="button is-danger">
                            Reset Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                {% for city_weather in weatherReport %}
                <div class="column is-offset-1 is-4">
                    
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }} °C</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'delete' city_weather.city %}" class="delete">
                                    <button class='delete'></button>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>